 <!DOCTYPE html>
<html>
   <style>
      body {
background-color: #00a2ff88;
color: white;
}

</style>

<body>
   <h1> Group Leader</h1>
   <img src="/images/Vardha.jpg"  style="width:128px;height:128px;">   
   <li>Prof. Varadharajan Srinivasa</li>
   <h1> Current LITESOPH Team</h1>
     <ul>

      <li>Dr. Pramod Kumar Verma</li>
      <li>Dr. Satyajit Mandal</li>
      <li>Dr. Indranil Mal</li>
      <li>Mr. Sachin S</li>
      <li>Ms. Humahuti Dihingia</li>
    </ul>


<p>
   <h1>Former Members of LITESOPH Team</h1>
   <ul>
      <li> Mr. Elious </li>
      <li> Mr. Chakradhar </li>
      <li> Dr. Manish Rana </li>
      <li> Mr. Vignesh Balaji K</li>
      <li> Mr. Mithun M</li>
      <li> Ms. Mansi Bhati</li>
   </ul>  
</p>  
     
</body>
</html>  
